.popup__close-icon {
  position: absolute;
  top: -40px;
  right: -40px;
  border: 0;
  transform: rotate(-45deg);
  height: 40px;
  width: 40px;
  background: url(../../../images/add-button.svg) center no-repeat;
  background-size: cover;
}

@media screen and (max-width: 520px) {
  .popup__close-icon {
    top: -60px;
    right: 0;
  }
}
